body {
  background-color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
}

.page-top {
  display: flex;
  justify-content: center;
  color: #3e2913
}

#search-box {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 10px;
  color: #3e2913
}

.anim-info {
  animation-name: slide-in;
  animation-duration: 2s;
}

.info {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#recipe-data {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: auto;
}

.recipe-bucket {
  width: 32%;
  background-color: #e9edc9;
  border: 3px solid #99ac5d;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 4px #000000)
}

.recipe-label {
  text-align: center;
  color: #13242A;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 98%;
  border: 3px solid #99ac5d;
  border-radius: 5px;
}

.diet {
  height: 25px;
  padding-left: 5px;
  color: #13242A;
}

.health {
  height: 25px;
  padding-left: 5px;
  color: #13242A;
}

/* "white-space: pre-wrap" found on Stack Overflow */
.ingredients {
  white-space: pre-wrap;
  padding-left: 5px;
  color: #13242A;
}

.ing-button {
  display: block;
  background-color: #fefae0;
  color: #13242A;
  border: 3px solid #99ac5d;
  border-radius: 5px;
  margin-left: 5px;
}

.hide-it-0,
.hide-it-1,
.hide-it-2,
.hide-it-num,
.hide-it-info {
  display: none;
}

a {
  display: block;
  text-align: center;
}

@media screen and (max-width: 425px) {
  #recipe-data {
    flex-flow: column nowrap;
  }
  .recipe-bucket {
    width: 100%;
  }
}

/* animation pulled from MDN and modified to fit */
@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    justify-content: center;
    width: 100%;
  }
}