/* body {
  display: flex;
  justify-content: center;
} */

.page-top {
  display: flex;
  justify-content: center;
}

#recipe-data {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: auto;
}

.recipe-bucket {
  width: 32%;
}

.recipe-label {
  text-align: center;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 98%;
}

.recipe-ing {
  white-space: pre-wrap;
}

.ing-button {
  display: block;
}

.hide-it {
  display: none;
}

p {
  display: none;
}

/* * {
  border: 1px solid black;
} */