body {
  background-color: #e76f51;
}

.page-top {
  display: flex;
  justify-content: center;
}

#search-box {
  height: 30px;
}

#recipe-data {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: auto;
}

.recipe-bucket {
  width: 32%;
  background-color: #e9c46a;
  border: 2px solid #2a9d8f;
  border-radius: 10px;
}

.recipe-label {
  text-align: center;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 98%;
}

.diet {
  height: 25px;
  padding: 0px 0px 0px 5px;
}

.health {
  height: 25px;
  padding: 0px 0px 0px 5px;
}

.ingredients {
  white-space: pre-wrap;
  padding: 0px 0px 0px 5px;
}

.ing-button-0,
.ing-button-1,
.ing-button-2 {
  display: block;
}

.hide-it-0,
.hide-it-1,
.hide-it-2 {
  display: none;
}

button {
  /* color: aqua;
  background-color: brown; */
  margin: 0px 0px 0px 5px;
}

a {
  display: block;
  text-align: center;
}

p {
  display: none;
}

@media screen and (max-width: 425px) {
  #recipe-data {
    flex-flow: column nowrap;
  }
  .recipe-bucket {
    width: 100%;
  }
}

* {
  color: #13242A;
}